language: node_js # 设置语言

sudo: required

node_js: stable # 设置相应版本

cache:
  directories:
    - node_modules # 设置缓存，会在构建的时候快一些

before_install:
  - npm install -g cnpm --registry=https://registry.npm.taobao.org
  - cnpm install -g hexo-cli

install:
  - cnpm install # 安装hexo及插件
  - cnpm install hexo-deployer-git --save

script:
  - hexo clean # 清除
  - hexo g # 生成

after_script:
  - cd ./public
  - git init
  - git config user.name "Jamesxuwang"
  - git config user.email "461047035@qq.com"
  - git add .
  - git commit -am "Update blog"
  - git push --force --quiet "https://${Travis_Token}@${GH_REF}" master

branches:
  only:
    - master
env:
  global:
    - GH_REF: github.com/jamesxuwang/jamesxuwang.github.io.git
